{% extends 'MainBundle::layout.html.twig' %}


{% block products %} 

{% for entity in entities %}
    <div class="row">
    <div class="col-lg-4">
        <h2>{{ entity.name }}</h2>
          <p>
             <div class="span2">
                <img src="/bundles/main/img/{{ entity.imageName }}" class="img-responsive" alt="Responsive image"/>
             </div> 
          </p>
        <p><a class="btn btn-default" href="{{ path('product_show', { 'id': entity.id }) }}">View details &raquo;</a></p>
    </div>
{% endfor %}

{% endblock %}


